
html, body {
    height: 100%;
}

body {
    background-color: darkgrey;
}

.title {
    text-align: center;
    border: 4px solid black;
    margin: auto;
    width: 50%;
    margin-top: 80px;
    background-color: aquamarine;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.container{
    position: relative;
    margin-top: 30px;
    border: 2px solid blue;
    height: 200px;background-color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    position: absolute;
    bottom: 0;
    height: 20px;
    background-color: aquamarine;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.quote-div {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.name-div {
   font-size: medium;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


